.contact-ctr {
  height: 36vh;
  width: 100%;
  background-color: black;
  margin: 0;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

.website-closer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8vw;
  color: white;
}

@media screen and (max-width: 1000px) {
  .contact-links {
    padding: 5vw;
  }

  .website-closer {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 768px) {
  .contact-ctr {
    height: 25vh;
  }
  
  .contact-linkedin-icon, .contact-github-icon, .contact-resume-icon, .contact-email-icon {
    width: 12vw;
  }

  .website-closer {
    font-size: 2vw;
  }
}